<%- include('../layouts/header.ejs') %>
<link rel="stylesheet" href="css/login.css">
  <div class="container">
    <h1>Reset Your Password</h1>
    <div class="form-box">
      <form class="login-form" method="post" action="/forgotPasswordOtp" >
        <div class="form-group">
          <label for="mobile">Mobile </label>
          <input type="string" id="mobile" name="mobile" required>
        </div>
        <button type="submit" class="login-button">Generate OTP</button>
      </form>
      <br>
      <%=(typeof message!=='undefined')?message:""%>
    </div>
  </div>
</body>
</html>
<%- include('../layouts/footer.ejs') %>