<%- include('../layouts/header.ejs') %>
<link rel="stylesheet" href="css/login.css">
  <div class="container">
    <h1>OTP</h1>
    <div class="form-box" >
      <form class="login-form" method="post" action="/forgotPassword"  >
        <div class="form-group">
          <label for="OTP">OTP</label>
          <input type="text" id="otp" name="otp">
        </div>
        <button type="submit" class="login-button">Verify</button>
      </form>
      <br>
    </div>
  </div>
</body>
</html>
<%- include('../layouts/footer.ejs') %>